@import 'tailwindcss/base';

@layer base {
  @font-face {
    font-weight: normal;
    font-family: 'Adinda Melia';
    src: url('/fonts/adinda-melia.regular.otf');
  }

  @font-face {
    font-weight: normal;
    font-family: 'Nunito Sans';
    src: url('/fonts/NunitoSans-Regular.ttf');
  }

  @font-face {
    font-weight: bold;
    font-family: 'Nunito Sans';
    src: url('/fonts/NunitoSans-Bold.ttf');
  }

  @font-face {
    font-weight: 900;
    font-family: 'Nunito Sans';
    src: url('/fonts/NunitoSans-Black.ttf');
  }

  h1 {
    @apply text-6xl;
  }

  h2 {
    @apply text-5xl;
  }

  h3 {
    @apply text-4xl;
  }

  h4 {
    @apply text-3xl;
  }

  h5 {
    @apply text-2xl;
  }

  h6 {
    @apply text-xl;
  }
}

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';
