@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Adinda Melia';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/adinda-melia.regular.otf');
}

@font-face {
  font-family: 'Nunito Sans';
  font-weight: normal;
  font-display: swap;
  src: url('/fonts/NunitoSans-Regular.ttf');
}

@font-face {
  font-family: 'Nunito Sans';
  font-weight: bold;
  font-display: swap;
  src: url('/fonts/NunitoSans-Bold.ttf');
}

@font-face {
  font-family: 'Nunito Sans';
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/NunitoSans-Black.ttf');
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
  background: var(--color-dark);
  color: var(--font-color);
  padding: 0;
  margin: 0;
}

.cursive {
  font-family: 'Adinda Melia' !important;
}
