:root {
  --color-primary: #f20a72;
  --color-primary-shade: #e6096c;
  --color-primary-tint: #ff2286;
  --color-primary-light: #ff6cae;

  --color-secondary: #e6db74;
  --color-secondary-shade: #cac166;
  --color-secondary-tint: #eee69e;
  --color-secondary-light: #f3fcd9;
  --color-secondary-text: #c5c2b8;

  --color-dark: #20252c;
  --color-dark-black: #191e23;
  --color-dark-shade: #1c2127;
  --color-dark-tint: #363b41;
  --color-dark-light: #63666b;

  --font-color: #fff;
}
