$dark-shade: #13161a;
$dark-normal: #20252c;
$dark-tint: #363b41;
$dark-light: #63666b;
$pink: #e6096c;
$white: #fff;
$border-color: $dark-shade;

.uc-container {
  position: relative;

  width: 300px;
  height: 300px;
  margin: auto;

  transform: scale(0.8);

  .cat {
    position: absolute;
    top: 10%;
    left: 50%;

    width: 200px;
    height: 100px;

    transform: translateX(-50%);

    .head {
      position: absolute;
      bottom: 0;
      left: 50%;

      width: 130px;
      height: 100px;

      background: $white;
      border: 5px solid $border-color;
      border-radius: 50%;
      transform: translateX(-50%);

      &::after,
      &::before {
        position: absolute;
        top: 0;
        left: 50%;
        z-index: -1;

        width: 70%;
        height: 50px;

        background: $dark-shade;
        border-radius: 100%;
        transform-origin: left center;

        content: '';
      }

      &::before {
        transform: translateY(-50%) rotate(45deg) rotateY(180deg) rotate(90deg);
      }

      &::after {
        transform: translateY(-50%) rotate(45deg);
      }

      .ear-container {
        position: absolute;
        top: 0;
        left: 50%;

        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        height: 20px;

        transform: translateX(-50%);
        .ear {
          position: relative;

          width: 0;
          height: 0;

          border-right: 20px solid transparent;
          border-bottom: 40px solid $pink;
          border-left: 20px solid transparent;

          &::before,
          &::after {
            position: absolute;
            top: 0;
            left: 0;

            width: 32px;
            height: 32px;

            background: $dark-shade;

            content: '';
          }

          &::before {
            border-radius: 40px 0;
            transform: translate(-26px, 4px) rotate(-19deg);
          }

          &::after {
            border-radius: 0 40px;
            transform: translate(-6px, 4px) rotate(19deg);
          }
        }
        .ear--left {
          transform: translateY(-50%) rotate(-41deg) translate(-28px, -11px);
        }
        .ear--right {
          transform: translateY(-50%) rotate(41deg) translate(28px, -11px);
        }
      }

      .eye-container {
        position: absolute;
        top: 25px;
        left: 50%;

        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60%;
        height: 20px;

        transform: translateX(-50%);
        .eye {
          position: relative;

          width: 20px;
          height: 20px;

          background: $white;
          border-radius: 50%;

          &::after {
            position: absolute;
            top: 9px;

            width: 12px;
            height: 12px;

            background: $dark-shade;
            border-radius: 50%;
            transform: translate(-50%);

            animation-name: eye;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-direction: alternate;

            content: '';
          }
        }
      }

      .nose {
        position: absolute;
        top: 52%;
        left: 50%;

        width: 12px;
        height: 9px;

        background: $dark-shade;
        border-radius: 2px 2px 50% 50%;
        transform: translate(-50%);
      }
    }
    .body {
      position: absolute;
      bottom: 0;
      left: 50%;

      width: 100px;
      height: 100px;

      background: $white;
      border: 5px solid $border-color;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      transform: translate(-50%, 95px);
    }

    .hand {
      position: absolute;
      top: 100px;
      left: 50%;
      z-index: -1;

      width: 30px;
      height: 120px;

      background: $white;
      background: $dark-shade;
      border: 5px solid $border-color;
      transform-origin: center top;

      animation-duration: 0.2s;
      animation-iteration-count: infinite;
    }

    .hand--left {
      border-radius: 30px 0 10px 30px;
      transform: translateX(-42px) rotate(80deg);

      animation-name: move-left-hand;
      animation-delay: 0.1s;
    }

    .hand--right {
      border-radius: 0 30px 30px 5px;
      transform: translateX(12px) rotate(-80deg);

      animation-name: move-right-hand;
    }
  }

  .lap {
    position: absolute;

    width: 120px;
    height: 80px;

    .lid {
      width: 100%;
      height: 100%;

      background: $pink;
      border: 5px solid $border-color;

      &::before {
        position: absolute;
        top: 40%;
        left: 50%;

        width: 0;
        height: 0;

        border-top: 10px solid #e6db74;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #e6db74;
        border-left: 10px solid #e6db74;
        border-radius: 10px;
        transform: translate(-50%);

        content: '';
      }

      &::after {
        position: absolute;
        bottom: 5px;
        left: 0;

        box-sizing: border-box;
        width: 100%;
        height: 20px;

        background: #e6db74;
        border: 5px solid $border-color;
        transform: translateY(100%);

        content: '';
      }
    }

    .keyboard {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background: $dark-light;
      border: 5px solid $border-color;

      content: '';
    }

    &.lap--center {
      position: absolute;
      top: 50%;
      left: 50%;

      transform: translateX(-50%);
    }

    &.lap--left {
      top: 50%;
      left: 0;
      z-index: -1;

      width: 100px;

      transform: translate(-90%, -60%) skew(0deg, 15deg);

      .keyboard {
        z-index: -1;

        border-width: 10px 10px 5px 0;
        transform: rotateX(70deg) skewX(-30deg) translate(25px, 42px);
        transform-origin: center bottom;
      }
    }
    &.lap--right {
      top: 50%;
      right: 0;
      z-index: -1;

      width: 100px;

      transform: translate(90%, -60%) skew(0deg, -15deg);

      .keyboard {
        z-index: -1;

        border-width: 10px 0 5px 10px;
        transform: rotateX(70deg) skewX(30deg) translate(-25px, 42px);
        transform-origin: center bottom;
      }
    }
  }
}

@keyframes move-left-hand {
  from {
    transform: translateX(-42px) rotate(80deg);
  }

  to {
    transform: translateX(-42px) rotate(60deg);
  }
}

@keyframes move-right-hand {
  from {
    transform: translateX(12px) rotate(-80deg);
  }

  to {
    transform: translateX(12px) rotate(-60deg);
  }
}

@keyframes eye {
  0% {
    left: 5px;
  }

  50% {
    left: 15px;
  }

  100% {
    left: 5px;
  }
}
