.menu-button {
  top: 20px;
  right: 20px;

  width: 40px;
  height: 40px;

  transform: scale(0.9);
}

.menu-bar {
  height: 4px;
}
.menu-bar:nth-child(1) {
  width: 18px;
  margin-left: 7px;
}
.menu-bar:nth-child(2) {
  z-index: 1;

  margin-left: 1px;

  box-shadow: 0 0 1px 2px var(--color-dark);
}
.menu-bar:nth-child(3) {
  width: 18px;
}
