.uc-container {
  position: relative;

  width: 300px;
  height: 300px;
  margin: -40px 0;

  transform: scale(0.6);
}
.cat {
  position: absolute;
  top: 10%;
  left: 50%;

  width: 200px;
  height: 100px;

  transform: translateX(-50%);
}
.cat .head {
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 130px;
  height: 100px;

  background: #fff;
  border: 5px solid #13161a;
  border-radius: 50%;
  transform: translateX(-50%);
}
.cat .head::after,
.cat .head::before {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;

  width: 70%;
  height: 50px;

  background: #13161a;
  border-radius: 100%;
  transform-origin: left center;

  content: '';
}
.cat .head::before {
  transform: translateY(-50%) rotate(45deg) rotateY(180deg) rotate(90deg);
}
.cat .head::after {
  transform: translateY(-50%) rotate(45deg);
}
.cat .head .ear-container {
  position: absolute;
  top: 0;
  left: 50%;

  display: box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 20px;

  transform: translateX(-50%);
}
.head .ear-container div[class^='ear'] {
  position: relative;

  width: 0;
  height: 0;

  border-right: 20px solid transparent;
  border-bottom: 40px solid #e6096c;
  border-left: 20px solid transparent;
}
.head .ear-container div[class^='ear']::before,
.head .ear-container div[class^='ear']::after {
  position: absolute;
  top: 0;
  left: 0;

  width: 32px;
  height: 32px;

  background: #13161a;

  content: '';
}
.head .ear-container div[class^='ear']::before {
  border-radius: 40px 0;
  transform: translate(-26px, 4px) rotate(-19deg);
  transform: translate(-26px, 4px) rotate(-19deg);
}
.head .ear-container div[class^='ear']::after {
  border-radius: 0 40px;
  transform: translate(-6px, 4px) rotate(19deg);
  transform: translate(-6px, 4px) rotate(19deg);
}
.head .ear-container .ear--left {
  transform: translateY(-50%) rotate(-41deg) translate(-28px, -11px);
  transform: translateY(-50%) rotate(-41deg) translate(-28px, -11px);
}
.head .ear-container .ear--right {
  transform: translateY(-50%) rotate(41deg) translate(28px, -11px);
  transform: translateY(-50%) rotate(41deg) translate(28px, -11px);
}
.head .eye-container {
  position: absolute;
  top: 25px;
  left: 50%;

  display: box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  height: 20px;

  transform: translateX(-50%);
  transform: translateX(-50%);
}
.head .eye-container div[class^='eye'] {
  position: relative;

  width: 20px;
  height: 20px;

  background: #fff;
  border-radius: 50%;
}
.head .eye-container div[class^='eye']::after {
  position: absolute;
  top: 9px;

  width: 12px;
  height: 12px;

  background: #13161a;
  border-radius: 50%;
  transform: translate(-50%);
  transform: translate(-50%);

  animation-name: eye;
  animation-name: eye;
  animation-duration: 3s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-direction: alternate;

  content: '';
}
.head .nose {
  position: absolute;
  top: 52%;
  left: 50%;

  width: 12px;
  height: 9px;

  background: #13161a;
  border-radius: 2px 2px 50% 50%;
  transform: translate(-50%);
  transform: translate(-50%);
}
.uc-container .cat .body {
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 100px;
  height: 100px;

  background: #fff;
  border: 5px solid #13161a;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transform: translate(-50%, 95px);
  transform: translate(-50%, 95px);
}
.uc-container .cat div[class^='hand'] {
  position: absolute;
  top: 100px;
  left: 50%;
  z-index: -1;

  width: 30px;
  height: 120px;

  background: #fff;
  background: #13161a;
  border: 5px solid #13161a;
  transform-origin: center top;
  transform-origin: center top;

  animation-duration: 0.2s;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.uc-container .cat .hand--left {
  border-radius: 30px 0 10px 30px;
  transform: translateX(-42px) rotate(80deg);
  transform: translateX(-42px) rotate(80deg);

  animation-name: move-left-hand;
  animation-name: move-left-hand;
  animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.uc-container .cat .hand--right {
  border-radius: 0 30px 30px 5px;
  transform: translateX(12px) rotate(-80deg);
  transform: translateX(12px) rotate(-80deg);

  animation-name: move-right-hand;
  animation-name: move-right-hand;
}
.uc-container .lap {
  position: absolute;

  width: 120px;
  height: 80px;
}
.uc-container .lap .lid {
  width: 100%;
  height: 100%;

  background: #e6096c;
  border: 5px solid #13161a;
}
.uc-container .lap .lid::before {
  position: absolute;
  top: 40%;
  left: 50%;

  width: 0;
  height: 0;

  border-top: 10px solid #e6db74;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #e6db74;
  border-left: 10px solid #e6db74;
  border-radius: 10px;
  transform: translate(-50%);
  transform: translate(-50%);

  content: '';
}
.uc-container .lap .lid::after {
  position: absolute;
  bottom: 5px;
  left: 0;

  box-sizing: border-box;
  width: 100%;
  height: 20px;

  background: #e6db74;
  border: 5px solid #13161a;
  transform: translateY(100%);
  transform: translateY(100%);

  content: '';
}
.uc-container .lap .keyboard {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: #63666b;
  border: 5px solid #13161a;

  content: '';
}
.uc-container .lap.lap--center {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translateX(-50%);
  transform: translateX(-50%);
}
.uc-container .lap.lap--left {
  top: 50%;
  left: 0;
  z-index: -1;

  width: 100px;

  transform: translate(-90%, -60%) skew(0deg, 15deg);
  transform: translate(-90%, -60%) skew(0deg, 15deg);
}
.uc-container .lap.lap--left .keyboard {
  z-index: -1;

  border-width: 10px 10px 5px 0;
  transform: rotateX(70deg) skewX(-30deg) translate(25px, 42px);
  transform: rotateX(70deg) skewX(-30deg) translate(25px, 42px);
  transform-origin: center bottom;
  transform-origin: center bottom;
}
.uc-container .lap.lap--right {
  top: 50%;
  right: 0;
  z-index: -1;

  width: 100px;

  transform: translate(90%, -60%) skew(0deg, -15deg);
  transform: translate(90%, -60%) skew(0deg, -15deg);
}
.uc-container .lap.lap--right .keyboard {
  z-index: -1;

  border-width: 10px 0 5px 10px;
  transform: rotateX(70deg) skewX(30deg) translate(-25px, 42px);
  transform: rotateX(70deg) skewX(30deg) translate(-25px, 42px);
  transform-origin: center bottom;
  transform-origin: center bottom;
}

@media screen and (min-width: 577px) {
  .uc-container {
    margin: 0;

    transform: scale(1);
  }
}

@media screen and (min-width: 769px) {
  .uc-container {
    margin: 0;

    transform: scale(0.8);
  }
}

@keyframes move-left-hand {
  from {
    transform: translateX(-42px) rotate(80deg);
    transform: translateX(-42px) rotate(80deg);
  }
  to {
    transform: translateX(-42px) rotate(60deg);
    transform: translateX(-42px) rotate(60deg);
  }
}

@keyframes move-left-hand {
  from {
    transform: translateX(-42px) rotate(80deg);
    transform: translateX(-42px) rotate(80deg);
  }
  to {
    transform: translateX(-42px) rotate(60deg);
    transform: translateX(-42px) rotate(60deg);
  }
}
@keyframes move-right-hand {
  from {
    transform: translateX(12px) rotate(-80deg);
    transform: translateX(12px) rotate(-80deg);
  }
  to {
    transform: translateX(12px) rotate(-60deg);
    transform: translateX(12px) rotate(-60deg);
  }
}
@keyframes move-right-hand {
  from {
    transform: translateX(12px) rotate(-80deg);
    transform: translateX(12px) rotate(-80deg);
  }
  to {
    transform: translateX(12px) rotate(-60deg);
    transform: translateX(12px) rotate(-60deg);
  }
}
@keyframes eye {
  0% {
    left: 5px;
  }
  25% {
    left: 5px;
  }
  50% {
    left: 10px;
  }
  75% {
    left: 15px;
  }
  100% {
    left: 15px;
  }
}
@keyframes eye {
  0% {
    left: 5px;
  }
  25% {
    left: 5px;
  }
  50% {
    left: 10px;
  }
  75% {
    left: 15px;
  }
  100% {
    left: 15px;
  }
}
